{% extends 'adminapp/header.html' %}
{% load static %}
{% block TITLE %} Home Page {% endblock %}



{% block content %}

<div class="">
    
        <div class="position-relative h-100 carousel_bg_style">
            <div id="particles-js" class="position-absolute "></div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div>
                            <div class="mx-auto text-center" style="width: 50%;">
                                <div class="animation_container">
                                    <h3 class="slider_h_animation">Who's us</h3>
                                </div>
                                <p class="slider_h_description">{{WHOSUS}}</p>
                            </div>
                        </div>
                            
                    </div>
                    <div class="swiper-slide">
                            <div class="mx-auto text-center" style="width: 50%;">
                                <div class="animation_container">
                                    <h3 class="slider_h_animation">Why us</h3>
                                </div>
                                <p class="slider_h_description">{{WHYUS}}</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
   

    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="container">
            <div class="" style="background-color: white;">
            
                <br>
                <div style="display: flex;">
                <div class="" style ="border-left: 5px solid red;height: 50px;width:20px"><!--<i class="right"></i>--></div>
                <div style="font-size: 30px;">My Team</div>
                </div>
                <Br>
                <div id="carouselExampleIndicators " class="carousel slide firstCarousel" data-ride="carousel">
                    <ol class="carousel-indicators">
                    {% for u in users %}
                    {% if forloop.counter == 1 %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        {% else %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        {% endif %}
                    {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for u in users %}
                        {% if forloop.counter == 1 %}
                            <div class="carousel-item active carousel-item-team " target="{% url 'user_profile' u.email %}" style="cursor: pointer;"> <!--Items-->
                        {% else %}
                            <div class="carousel-item carousel-item-team" target="{% url 'user_profile' u.email %}" style="cursor: pointer;"> <!--Items-->
                        {% endif %}
                            <div class="card d-block w-100" style="width:18rem;height:300px">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="px-md-4">
                                        <img id="thumbnail-image" height=200px width=200px class="card-img-top"   style="margin-left:10%; width:22rem;box-shadow: 0 1px 6px #080808;" src="/media/{{u.user_Files.img}}" alt="Card">
                                        </div>
                                        <div class="col px-md-4 noborder">
                                            <h4><b>{{u.name}}</b></h4>
                                            <h6><b>Job:</b></h6> {{u.spacialist}}<br>
                                            <h6><b>Company:</b></h6>{{u.company}}<br>
                                            <h6><b>Email:</b></h6>{{u.email}}
                                        </div>
                                        <div class="col px-md-4">
                                            <h5 class="card-title">Short Description</h5>
                                            <p class="card-text">{{u.short_description|slice:"0:100"}}...</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> <!-- Items End-->
                        {% endfor %}
                        
                    </div>
                    <a class="carousel-control-prev" href="javascript:void(0);" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" style="display:none"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="javascript:void(0);" role="button" data-slide="next" >
                        <span class="carousel-control-next-icon" aria-hidden="true" style="display:none"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> <!-- end carousel-->
                <Br>
                <!-- Connnect us-->
                <div style="display: flex;">
                <div class="" style ="border-left: 5px solid red;height: 50px;width:20px"><!--<i class="right"></i>--></div>
                <div style="font-size: 30px;">Contact Us</div>
                </div>
                <Br>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card noborder" style="background:white;height:15rem;">
                                <div class="card-body p-3 border bg-light text-center noborder w-100"
                                    style="width: 18rem;height:15rem;border-bottom: 1px solid red;">
                                    <div class="centerOfBox">
                                        <h5 class="contactususing">Contact us using</h5>
                                        <a href="#" class="fa fa-facebook" ></a>
                                        <a href="#" class="fa fa-google" ></a><br>
                                        <a href="#" class="fa fa-linkedin"></a>
                                        <a href="#" class="fa fa-instagram" ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col px-md-4 text-center">
                        
                            <div class="card noborder" style="background:white;height:15rem;">
                                <div class="card-body p-3  text-center noborder w-100" style="width: 18rem;height:15rem;">
                                <img id="thumbnail-image" class="card-img-top"   style="margin-top: 10%;" src="{% static 'mainapp/img/arrow.png' %}" alt="Card">
        
                                </div>
                            </div>
                        </div>
                        <div class="col px-md-4">
                            <div class="card noborder" style="background:white;height:15rem;">
                                <div class="card-body p-3 border bg-light text-center noborder w-100"
                                    style="width: 18rem;height:15rem;border-bottom: 1px solid red;">
                                    <div class="centerOfBox">
                                        <a href="/login"><h5 class="contactususing">Contact us directly<br> and get 15% discount</h5></a>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>         
                
                <br>
                <br>
                <!-- end Connect us-->

                <!--Our projects-->
                <div style="display: flex; margin-bottom:10px">
                <div class="" style="border-left: 6px solid red;height: 90px;/* width:20px */"></div>
                    <div>
                        <div style="font-size: 15px;margin-left: 10px;">ABOUT OUR PREVIOUS WORK</div>
                        <i class="right"></i>
                        <div style="font-size: 30px;margin-left: 10px;">OUR WORK</div>
                    </div>
                </div>
                
                <!--Projects start-->
                <div class="owl-buttons">
                    <div class="row" >
                        <div class="owl-prev">Previous</div>
                        <div class="owl-next">Next</div>
                    </div>
                    <br>
                </div>
                <div id="carouselExampleControls1" class="carousel slide secondCarousel" data-ride="carousel">
                    <div class="carousel-inner">
                    {% load custom_tags %}
                    {% for n in external_loop%} <!--External Loop-->                   
                    {% if n == 0 %}                                  
                        <div class="carousel-item active" > <!--each page-->
                    {% else %}
                        <div class="carousel-item" > <!--each page-->
                    {% endif %}
                            <div class="row" style="margin-left: 5px;margin-right:5px;">
                                {% for i in internal_loop %} <!-- Internal Loop-->
                                {% load mathfilters %}
                                    {% with counter1=forloop.parentloop.counter|countProjectCarousel:forloop.counter %}
                                        {% if counter1 <= projects.count %} 
                                            {% with p=projects|getRecord:counter1 %}
                                            <div class="px-md-1" style="width:20%;height: 500px;cursor: pointer;"> <!--It will repeat twice-->
                                                <div class="card project-card" style=" border:dashed;border-color:#696969;height: 34rem;overflow: hidden;height: 100%;" target="{% url 'ourwork' p.id %}">
                                                    <img class="card-img-top" src="/media/{{ p.Project_file.all.0.file }}" alt="Card
                                                    image cap"  style="min-height: 40%;overflow: hidden;max-height: 40%;">
                                                    <div class="custom-card-body" style="margin: 20px;">
                                                        <h5 class="card-title">{{p.name|slice:":100"}}...</h5>
                                                        <p class="card-text">{{p.description|slice:":150"}}...</p>                                                    
                                                    </div>
                                                </div>
                                            </div>
                                            {% endwith %} 
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}      <!-- Internal Loop-->                                                
                            </div>
                        </div> <!--end each-->
                    {% endfor %}                       
                    </div>
                    
                    <br>
                </div><!-- end Our Project-->

        <!--Project End-->
            </div> <!-- /container -->

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            autoplay: {
                delay: 7000,
            },
            pagination: {
                el: ".swiper-pagination",
            },
            loop: true,
            // width: 1200,
        });
    </script>
    <!-- particle js -->
    <script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://vincentgarreau.com/particles.js/assets/_build/js/lib/particles.js"></script>
    <script>
        particlesJS('particles-js',
            {
                "particles": {
                    "number": {
                        "value": 80,
                        "density": {
                            "enable": true,
                            "value_area": 800
                        }
                    },
                    "color": {
                        "value": "#ffffff"
                    },
                    "opacity": {
                        "value": 0.5,
                        "random": false,
                        "anim": {
                            "enable": false,
                            "speed": 1,
                            "opacity_min": 0.1,
                            "sync": false
                        }
                    },
                    "size": {
                        "value": 5,
                        "random": true,
                        "anim": {
                            "enable": false,
                            "speed": 40,
                            "size_min": 0.1,
                            "sync": false
                        }
                    },
                    "line_linked": {
                        "enable": true,
                        "distance": 150,
                        "color": "#ffffff",
                        "opacity": 0.4,
                        "width": 1
                    },
                    "move": {
                        "enable": true,
                        "speed": 6,
                        "direction": "none",
                        "random": false,
                        "straight": false,
                        "out_mode": "out",
                        "attract": {
                            "enable": false,
                            "rotateX": 600,
                            "rotateY": 1200
                        }
                    }
                },
                "interactivity": {
                    "detect_on": "canvas",
                    "events": {
                        "onhover": {
                            "enable": true,
                            "mode": "repulse"
                        },
                        "onclick": {
                            "enable": true,
                            "mode": "push"
                        },
                        "resize": true
                    },
                    "modes": {
                        "grab": {
                            "distance": 400,
                            "line_linked": {
                                "opacity": 1
                            }
                        },
                        "bubble": {
                            "distance": 400,
                            "size": 40,
                            "duration": 2,
                            "opacity": 8,
                            "speed": 3
                        },
                        "repulse": {
                            "distance": 200
                        },
                        "push": {
                            "particles_nb": 4
                        },
                        "remove": {
                            "particles_nb": 2
                        }
                    }
                },
                "retina_detect": true,
                "config_demo": {
                    "hide_card": false,
                    "background_color": "#b61924",
                    "background_image": "",
                    "background_position": "50% 50%",
                    "background_repeat": "no-repeat",
                    "background_size": "cover"
                }
            }

        );

    </script>
    </main>
    <hr>
</div>
{% include "adminapp/footer.html" %}

{% endblock %}

{% block CSS %}
<style>

i {
    border: solid red;
    border-width: 3px 3px 1px 1px;
    display: inline-block;
    /* padding: 3px; */
    width: 180px;
}

.right {
  /*transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  vertical-align: bottom; */
}

</style>

{% endblock %}

{% block CSSLINK %}  
<link rel="stylesheet" href={% static "adminapp/css/bootstrap.min.css" %}>
<link rel="stylesheet" href={% static "adminapp/css/homepage.css" %}>
<link rel="stylesheet" href={% static "adminapp/richtext/main.css" %}> 
<link rel="stylesheet" href={% static "adminapp/css/jquery.mCustomScrollbar.min.css" %}>
<link rel="stylesheet" href={% static "adminapp/css/icon.css" %}> 
<link rel="stylesheet" href={% static "adminapp/input_tags/tags.css" %}>    
<link rel="stylesheet" href={% static "mainapp/css/cdnjs.css" %}>
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock %}

{% block SCRIPTLINK %}
<script type="text/javascript" src={% static "adminapp/js/jquery-3.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "adminapp/js/popper.min.js" %}></script>
<script type="text/javascript" src={% static "adminapp/js/bootstrap.min.js" %}></script>
<script type="text/javascript" src={% static "adminapp/js/main.js" %}></script>
<script type="text/javascript" src={% static "adminapp/js/jquery.mCustomScrollbar.concat.min.js" %}></script>


{% endblock %}

{% block SCRIPT %}


/** my team carousel events */
$('span.carousel-control-prev-icon').on('mouseenter',function(e){
   $('.firstCarousel').carousel('prev');
});
$('span.carousel-control-next-icon').on('mouseenter',function(e){
   $('.firstCarousel').carousel('next');
});

/** display next and previous employee icon on hover */
$('.firstCarousel').hover(function(e){
   $('span.carousel-control-prev-icon').show(); 
   $('span.carousel-control-next-icon').show();
},function(e){
   $('span.carousel-control-prev-icon').hide();
   $('span.carousel-control-next-icon').hide();
});

/** employee card click on next/previous*/
$('span.carousel-control-prev-icon').click(function() {
    $('.firstCarousel').carousel('prev');
});
$('span.carousel-control-next-icon').click(function() {
    $('.firstCarousel').carousel('next');
});

/** Project carousel events */
$('.owl-prev').click(function() {
$('.secondCarousel').carousel('prev');
});

$('.owl-next').click(function() {
$('.secondCarousel').carousel('next');
});

$(window).on("load",function(){
$('.secondCarousel').carousel('pause');
});  

/** click on card must go to user profile **/
$(".carousel-item-team").on('click',function(e){
    let target = $(this).attr('target');    
    location.href = target;
});
/** click on Project Card */ 
$(".project-card").on('click',function(e){
    let target = $(this).attr('target');    
    location.href = target;
});

{% endblock %}